/* @import './index.css'; */

/* .app {
  background-color: rgb(238, 238, 238);
  border-radius: 35px;
  margin: 5rem 15rem;
  min-height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  padding: 10rem;
  justify-content: center;
  align-items: center;
} */

